.container {
  width: max-content;
  /* width:25%; */
  margin: 0px auto;
  margin-top: 30px;
  display: table;
  padding:0 10px 10px 10px;
}

.container:after {
  display: block;
  content: '';
  clear: both;
}

h3 {
  text-align: center;
}

.select-dan {
  display: table-cell;
  float: left;
}

wired-listbox {
  display: table-cell;
  float: right;
}

svg {
  display: block;
  margin: 0 auto;
}